@import '../styles/tokens/index.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-default);
  background: linear-gradient(to bottom, transparent, var(--color-bg-page-end))
    var(--color-bg-page-start);
}

a {
  color: inherit;
  text-decoration: none;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}
